<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script type="text/javascript" src="http://cart.gulimall.com/static/cart/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://cart.gulimall.com/static/cart/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://cart.gulimall.com/static/cart/js/swiper.min.js"></script>
    <script src="http://cart.gulimall.com/static/cart/js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cart.gulimall.com/static/cart/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cart.gulimall.com/static/cart/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="http://cart.gulimall.com/static/cart/css/success.css"/>
</head>

<body>
<!--头部-->
<div class="alert-info">
    <div class="hd_wrap_top">
        <ul class="hd_wrap_left">
            <li class="hd_home"><i class="glyphicon glyphicon-home"></i>
                <a href="http://cart.gulimall.comhttp://gulimall.com/">谷粒商城首页</a>
            </li>
        </ul>
        <ul class="hd_wrap_right">
            <li class="forel">
                <a th:if="${session.loginUser != null}" class="link_login">欢迎, [[${session.loginUser.nickname}]]</a>
            </li>
            <li class="forel">
                <a th:if="${session.loginUser == null}" href="http://cart.gulimall.comhttp://auth.gulimall.com/login.html" class="link_login">你好，请登录</a>
            </li>
            <li class="forel">
                <a th:if="${session.loginUser == null}" href="http://cart.gulimall.comhttp://auth.gulimall.com/reg.html" class="link_regist">免费注册</a>
            </li>
            <li>
                <a th:if="${session.loginUser != null}" href="http://cart.gulimall.comhttp://auth.gulimall.com/loguot.html"
                   class="li_2">立即退出</a>
            </li>
            <li class="spacer"></li>
            <li>
                <a href="http://cart.gulimall.comhttp://member.gulimall.com/memberOrder.html">我的订单</a>
            </li>
        </ul>
    </div>
</div>

<div class="nav-tabs-justified">
    <div class="nav_wrap">
        <div class="nav_top">
            <div class="nav_top_one">
                <a href="http://gulimall.com/"><img src="http://cart.gulimall.com/static/cart/img/logo1.jpg" style="height: 60px;width:180px;"/></a>
            </div>
            <div class="nav_top_two"><input type="text"/>
                <button>搜索</button>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="success-wrap">
        <div class="w" id="result">
            <div class="m succeed-box">
                <div th:if="${orderSn != null}" class="mc success-cont">
                    <h1>恭喜，秒杀成功，订单号[[${orderSn}]]</h1>
                    <h2>正在准备订单数据，10s以后自动跳转支付
                        <a style="color: red;" th:href="'http://order.gulimall.com/aliPayOrder?orderSn='+ orderSn">去支付</a>
                    </h2>
                </div>
                <div th:if="${orderSn == null}">
                    <h1>手气不好，秒杀失败，下次再来</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hd_shopping">
    购买了该商品的用户还购买了
</div>

<div class="swiper-container banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <ul>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/591582a1N44d6d0e8.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:;">乐歌(Loctek) R1(32-70英寸)曲面电视挂架 固定
                                乐视三星小米康佳海尔海信创维索尼电视曲面65/60/55/49/48</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/5985525bN8ec74aba.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:;">NB 757-L400（32-70英寸）电视挂架 电视架 电视机挂架 电视支架 旋转伸缩 乐视海信海尔TCL康佳三星夏普LG</a>
                        </p>
                        <span>￥159.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/lun1.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:;">TCL D32A810 32英寸观影王 高清八核安卓智能LED液晶电视机（金色）</a>
                        </p>
                        <span>￥1299.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/lun2.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">艾美(EMMYMOUNT)D60-T（32-60英寸）电视挂架 电视架 电视机挂架 电视支架 壁挂仰角可调 乐视海信创维海尔</a>
                        </p>
                        <span>￥79.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/57cfb628N297332ea.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">小天鹅（LittleSwan）TD80V80WDG 8公斤变频 洗烘一体机 滚筒洗衣机 金色 智能控制 灵光筒灯</a>
                        </p>
                        <span>￥3799.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/lun3.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">飞利浦（PHILIPS）SWL6116C/93 HDMI线 数字高清接口线 1080P2.0版 支持4K 60HZ 18Gbps ARC传输
                                2米</a>
                        </p>
                        <span>￥29.90</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/5985525bN8ec74aba.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">NB NB767-L600（45-70英寸）电视挂架 电视架 电视机挂架 电视支架 旋转伸缩 乐视海信海尔TCL康佳三星夏普LG<br/>
                                (EMMYMOUNT)D60-
                            </a>
                        </p>
                        <span>￥79.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/58bf6956N07a174eb.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">容声 (Ronshen) BCD-636WD11HPA 636升 对开门冰箱 矢量变频 省电节能 云智能WIFI 电脑控温
                                风冷无霜大容积</a>
                        </p>
                        <span>￥3399.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>

            </ul>

        </div>
        <div class="swiper-slide">
            <ul>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/58bf6956N07a174eb.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">容声 (Ronshen) BCD-636WD11HPA 636升 对开门冰箱 矢量变频 省电节能 云智能WIFI 电脑控温
                                风冷无霜大容积</a>
                        </p>
                        <span>￥4389.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/5a128f16N8c26ce84.jpg"/>
                        <p>

                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/59880667Nc3ecfba2.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/579f23ccN5e22e48f.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/59fa8badNdb1b317e.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/5a068a75N20bddaec.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/58f9c1bbN6965b210.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/5a06b993Nceef8000.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>

            </ul>

        </div>
        <div class="swiper-slide">
            <ul>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/5a06c2d7N0ab96524.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/57cfb628N297332ea.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/58bf6956N07a174eb.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/579f23ccN5e22e48f.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/577dd103N67caec65.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/5a128eb5N17547a87.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/59eea4ffNfe6271f1.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/58bf6956N07a174eb.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>

            </ul>

        </div>
        <div class="swiper-slide">
            <ul>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/58c9f736N4e611532.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/58f9c1bbN6965b210.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/571734fdN2c8bfdb5.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/5a06b993Nceef8000.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/579f23ccN5e22e48f.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/59eea4ffNfe6271f1.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://cart.gulimall.com/static/cart/img/58bf6956N07a174eb.jpg"/>
                        <p>
                            <a href="http://cart.gulimall.comjavascript:">乐歌(Loctek)R1(32-70<br/> 英寸)曲面电视挂架 固定</a>
                        </p>
                        <span>￥149.00</span>
                        <button><b></b>加入购物车</button>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="swiper-pagination pag1"></div>
</div>

<div class="share_money_top">
    <p class="share_money">买什么</p>
    <a href="http://cart.gulimall.comjavascript:;">查看更多商品专辑</a>
</div>

<div class="share_res_lost">

    <div class="share_res_list">

        <div class="list_inner">
            <div class="list_name">
                <a href="http://cart.gulimall.comjavascript:;">家电好物节</a>
            </div>
            <div class="list_info">
                <a href="http://cart.gulimall.comjavascript:;"><em>蒙面老婶</em></a>
            </div>
            <div class="list_goods">
                <div class="list_cover">
                    <a href="http://cart.gulimall.comjavascript:;">
                        <img src="http://cart.gulimall.com/static/cart/img/tu.jpg"/>
                        <ol class="a_ol">
                            <li class="glyphicon glyphicon-phone"></li>
                            <li class="glyphicon glyphicon-fullscreen"></li>
                            <li class="glyphicon glyphicon-modal-window"></li>
                            <li class="glyphicon glyphicon-share">
                                <div class="wang">
                                    <p><img src="http://cart.gulimall.com/static/cart/img/1.png"/><span>分享到微信</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/2.png"/><span>新浪微博</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/3.png"/><span>QQ空间</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/4.png"/><span>腾讯微博</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/5.png"/><span>人人网</span></p>
                                </div>
                            </li>
                            <li class="glyphicon glyphicon-cog" style="border: 0;" title="设置">
                            </li>
                        </ol>
                    </a>
                </div>
                <div class="list_ul">
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;"><img src="http://cart.gulimall.com/static/cart/img/la1.jpg"/></a>
                    </div>
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;"><img src="http://cart.gulimall.com/static/cart/img/la2.jpg"/></a>
                    </div>
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;" class="list_num">35</a>
                    </div>
                </div>
            </div>
            <div class="list_btn_info">
                <a href="http://cart.gulimall.comjavascript:;" class="btn-follow">
                    <i class="btnico"></i> 关注 <em class="btntxt">25</em>
                </a>
                <div class="list_gap"></div>
                <a href="http://cart.gulimall.comjavascript:;" class="btn-link">
                    <i class="btnico"></i> 赞 <em class="btntxt">38</em>
                </a>
            </div>
        </div>

    </div>

    <div class="share_res_list">

        <div class="list_inner">
            <div class="list_name">
                <a href="http://cart.gulimall.comjavascript:;">租房利器</a>
            </div>
            <div class="list_info">
                <a href="http://cart.gulimall.comjavascript:;"><em>为你推荐最值得买的</em></a>
            </div>
            <div class="list_goods">
                <div class="list_cover">
                    <a href="http://cart.gulimall.comjavascript:;">
                        <img src="http://cart.gulimall.com/static/cart/img/tu1.jpg"/>
                        <ol class="a_ol">
                            <li class="glyphicon glyphicon-phone"></li>
                            <li class="glyphicon glyphicon-fullscreen"></li>
                            <li class="glyphicon glyphicon-modal-window"></li>
                            <li class="glyphicon glyphicon-share">
                                <div class="wang">
                                    <p><img src="http://cart.gulimall.com/static/cart/img/1.png"/><span>分享到微信</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/2.png"/><span>新浪微博</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/3.png"/><span>QQ空间</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/4.png"/><span>腾讯微博</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/5.png"/><span>人人网</span></p>
                                </div>
                            </li>
                            <li class="glyphicon glyphicon-cog" style="border: 0;" title="设置">
                            </li>
                        </ol>
                    </a>
                </div>
                <div class="list_ul">
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;"><img src="http://cart.gulimall.com/static/cart/img/574d4bf8N700d614f.jpg"/></a>
                    </div>
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;"><img src="http://cart.gulimall.com/static/cart/img/583eb3dbN1df5d225.jpg"/></a>
                    </div>
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;" class="list_num">20</a>
                    </div>
                </div>
            </div>
            <div class="list_btn_info">
                <a href="http://cart.gulimall.comjavascript:;" class="btn-follow">
                    <i class="btnico"></i> 关注 <em class="btntxt">57</em>
                </a>
                <div class="list_gap"></div>
                <a href="http://cart.gulimall.comjavascript:;" class="btn-link">
                    <i class="btnico"></i> 赞 <em class="btntxt">77</em>
                </a>
            </div>
        </div>

    </div>

    <div class="share_res_list">

        <div class="list_inner">
            <div class="list_name">
                <a href="http://cart.gulimall.comjavascript:;">海尔兄弟来袭</a>
            </div>
            <div class="list_info">
                <a href="http://cart.gulimall.comjavascript:;"><em>蒙面老婶</em></a>
            </div>
            <div class="list_goods">
                <div class="list_cover">
                    <a href="http://cart.gulimall.comjavascript:;">
                        <img src="http://cart.gulimall.com/static/cart/img/tu2.jpg"/>
                        <ol class="a_ol">
                            <li class="glyphicon glyphicon-phone"></li>
                            <li class="glyphicon glyphicon-fullscreen"></li>
                            <li class="glyphicon glyphicon-modal-window"></li>
                            <li class="glyphicon glyphicon-share">
                                <div class="wang">
                                    <p><img src="http://cart.gulimall.com/static/cart/img/1.png"/><span>分享到微信</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/2.png"/><span>新浪微博</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/3.png"/><span>QQ空间</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/4.png"/><span>腾讯微博</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/5.png"/><span>人人网</span></p>
                                </div>
                            </li>
                            <li class="glyphicon glyphicon-cog" style="border: 0;" title="设置">
                            </li>
                        </ol>
                    </a>
                </div>
                <div class="list_ul">
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;"><img src="http://cart.gulimall.com/static/cart/img/58d862f3Nb2291131.jpg"/></a>
                    </div>
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;"><img src="http://cart.gulimall.com/static/cart/img/59f964cbN88dc1222.jpg"/></a>
                    </div>
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;" class="list_num">40</a>
                    </div>
                </div>
            </div>
            <div class="list_btn_info">
                <a href="http://cart.gulimall.comjavascript:;" class="btn-follow">
                    <i class="btnico"></i> 关注 <em class="btntxt">22</em>
                </a>
                <div class="list_gap"></div>
                <a href="http://cart.gulimall.comjavascript:;" class="btn-link">
                    <i class="btnico"></i> 赞 <em class="btntxt">19</em>
                </a>
            </div>
        </div>

    </div>

    <div class="share_res_list">

        <div class="list_inner">
            <div class="list_name">
                <a href="http://cart.gulimall.comjavascript:;">家电放肆购</a>
            </div>
            <div class="list_info">
                <a href="http://cart.gulimall.comjavascript:;"><em>蒙面老婶</em></a>
            </div>
            <div class="list_goods">
                <div class="list_cover">
                    <a href="http://cart.gulimall.comjavascript:;">
                        <img src="http://cart.gulimall.com/static/cart/img/tu3.jpg"/>
                        <ol class="a_ol">
                            <li class="glyphicon glyphicon-phone"></li>
                            <li class="glyphicon glyphicon-fullscreen"></li>
                            <li class="glyphicon glyphicon-modal-window"></li>
                            <li class="glyphicon glyphicon-share">
                                <div class="wang">
                                    <p><img src="http://cart.gulimall.com/static/cart/img/1.png"/><span>分享到微信</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/2.png"/><span>新浪微博</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/3.png"/><span>QQ空间</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/4.png"/><span>腾讯微博</span></p>
                                    <p><img src="http://cart.gulimall.com/static/cart/img/5.png"/><span>人人网</span></p>
                                </div>
                            </li>
                            <li class="glyphicon glyphicon-cog" style="border: 0;" title="设置">
                            </li>
                        </ol>
                    </a>
                </div>
                <div class="list_ul">
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;"><img src="http://cart.gulimall.com/static/cart/img/59cc9591N5ce2ba2e.jpg"/></a>
                    </div>
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;"><img src="http://cart.gulimall.com/static/cart/img/5a071cf4N7d87ee5a.jpg"/></a>
                    </div>
                    <div class="list_goods_item">
                        <a href="http://cart.gulimall.comjavascript:;" class="list_num">35</a>
                    </div>
                </div>
            </div>
            <div class="list_btn_info">
                <a href="http://cart.gulimall.comjavascript:;" class="btn-follow">
                    <i class="btnico"></i> 关注 <em class="btntxt">12</em>
                </a>
                <div class="list_gap"></div>
                <a href="http://cart.gulimall.comjavascript:;" class="btn-link">
                    <i class="btnico"></i> 赞 <em class="btntxt">16</em>
                </a>
            </div>
        </div>

    </div>

</div>

<div class="hd_shopping">畅读卡</div>

<div class="carousel_last">

    <div class="card-lists">
        <ul>
            <li class="card_01">
                <div class="card-item card-item01">
                    <div class="card-msg">
                        <a href="http://cart.gulimall.comjavascript:;">
                            <h5>谷粒商城电子书畅读VIP</h5>
                            <h4>年卡360天</h4></a><span class="msg-bottom"></span></div>
                    <div class="p-price"><strong><em>￥</em><i>90.00</i></strong></div>
                    <div class="card-opbtns">
                        <a href="http://cart.gulimall.comjavascript:;" class="btn-append"><b></b>加入购物车</a>
                    </div>
                </div>
            </li>
            <li class="card_02">
                <div class="card-item card-item02">
                    <div class="card-msg">
                        <a href="http://cart.gulimall.comjavascript:;">
                            <h5>谷粒商城电子书畅读VIP</h5>
                            <h4>半年卡180天</h4></a><span class="msg-bottom"></span></div>
                    <div class="p-price"><strong style="color: #8855BB;"><em>￥</em><i>50.00</i></strong></div>
                    <div class="card-opbtns">
                        <a href="http://cart.gulimall.com#none" class="btn-append"><b></b>加入购物车</a>
                    </div>
                </div>
            </li>
            <li class="card_03">
                <div class="card-item card-item03">
                    <div class="card-msg">
                        <a href="http://cart.gulimall.comjavascript:;">
                            <h5>谷粒商城电子书畅读VIP</h5>
                            <h4>季卡90天</h4></a><span class="msg-bottom"></span></div>
                    <div class="p-price"><strong style="color: #00AA66;"><em>￥</em><i>30.00</i></strong></div>
                    <div class="card-opbtns">
                        <a href="http://cart.gulimall.com#none" class="btn-append"><b></b>加入购物车</a>
                    </div>
                </div>
            </li>
            <li class="card_04">
                <div class="card-item card-item04">
                    <div class="card-msg">
                        <a href="http://cart.gulimall.comjavascript:;">
                            <h5>谷粒商城电子书畅读VIP</h5>
                            <h4>月卡30天</h4></a><span class="msg-bottom"></span></div>
                    <div class="p-price"><strong style="color: #EEBB22;"><em>￥</em><i>10.00</i></strong></div>
                    <div class="card-opbtns">
                        <a href="http://cart.gulimall.com#none" class="btn-append"><b></b>加入购物车</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

<footer>
    <div class="bg_top">
        <ol class="slogen">
            <li class="item fore1">
                <i>多</i>品类齐全，轻松购物
            </li>
            <li class="item fore2">
                <i>快</i>多仓直发，极速配送
            </li>
            <li class="item fore3">
                <i>好</i>正品行货，精致服务
            </li>
            <li class="item fore4">
                <i>省</i>天天低价，畅选无忧
            </li>
        </ol>
    </div>
    <div class="dj_help">
        <div class="dj_w">
            <div class="dj_wrap">
                <dl class="fore1">
                    <dt>购物指南</dt>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">购物流程</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">会员介绍</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">生活旅行/团购</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">常见问题</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">大家电</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">联系客服</a>
                    </dd>
                </dl>
                <dl class="fore2">
                    <dt>配送方式</dt>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">上门自提</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">211限时达</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">配送服务查询</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">配送费收取标准</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">海外配送</a>
                    </dd>
                </dl>
                <dl class="fore3">
                    <dt>支付方式</dt>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">货到付款</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">在线支付</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">分期付款</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">邮局汇款</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">公司转账</a>
                    </dd>
                </dl>
                <dl class="fore4">
                    <dt>售后服务</dt>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">售后政策</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">价格保护</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">退款说明</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">返修/退换货</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">取消订单</a>
                    </dd>
                </dl>
                <dl class="fore5">
                    <dt>特色服务</dt>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">夺宝岛</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">DIY装机</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">延保服务</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">谷粒商城E卡</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">谷粒商城通信</a>
                    </dd>
                    <dd>
                        <a href="http://cart.gulimall.comjavascript:;">谷粒商城gulimall+</a>
                    </dd>
                </dl>
            </div>
        </div>

</footer>
<div class="bg_info_footer">
    <div class="bg_wrap">
        <div class="bg_links">
            <p>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">关于我们</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">联系我们</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">联系客服</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">合作招商</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">商家帮助</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">营销中心</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">手机谷粒商城</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">友情链接</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">销售联盟</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">谷粒商城社区</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">风险监测</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">隐私政策</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">谷粒商城公益</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">English Site</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">Contact Us</a>
            </p>
        </div>
        <div class="bg_info_sky">
            <p class="bg_info_p">
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">京公网安备 11000002000088号</a><span
                    class="copyright_split">|</span><span>京ICP证070359号</span><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span class="copyright_split">|</span><span>新出发京零&nbsp;字第大120007号</span>
            </p>
            <p class="bg_info_p">
                <span>互联网出版许可证编号新出网证(京)字150号</span><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">出版物经营许可证</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">网络文化经营许可证京网文[2014]2148-348号</a><span
                    class="copyright_split">|</span><span>违法和不良信息举报电话：4006561155</span>
            </p>
            <p class="bg_info_p">
                <span class="copyright_text">Copyright&nbsp;©&nbsp;2004&nbsp;-&nbsp;<em id="copyright_year">2017</em>&nbsp;&nbsp;谷粒商城gulimall.com&nbsp;版权所有</span><span
                    class="copyright_split">|</span><span>消费者维权热线：4006067733</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank" class="copyright_license">经营证照</a>
            </p>
            <p class="bg_info_p">
                <span>谷粒商城旗下网站：</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">谷粒商城钱包</a><span class="copyright_split">|</span>
                <a href="http://cart.gulimall.comjavascript:;" target="_blank">谷粒商城云</a>
            </p>
            <p class="bg_info_dy">
                <a class="copyright_auth_ico copyright_auth_ico_1" href="http://cart.gulimall.comjavascript:;" target="_blank">经营性网站备案中心</a>

                <a id="urlknet" class="copyright_auth_ico copyright_auth_ico_2" href="http://cart.gulimall.comjavascript:;" target="_blank">可信网站信用评估</a>
                <a class="copyright_auth_ico copyright_auth_ico_3" href="http://cart.gulimall.comjavascript:;" target="_blank">网络警察提醒你</a>
                <a class="copyright_auth_ico copyright_auth_ico_4" href="http://cart.gulimall.comjavascript:;" target="_blank">诚信网站</a>
                <a class="copyright_auth_ico copyright_auth_ico_5" href="http://cart.gulimall.comjavascrit:;" target="_blank">中国互联网举报中心</a>
                <a class="copyright_auth_ico copyright_auth_ico_6" href="http://cart.gulimall.comjavascript:;" target="_blank">网络举报APP下载</a>
            </p>
        </div>

    </div>
</div>

</body>
<script type="text/javascript" src="http://cart.gulimall.com/static/cart/js/success.js"></script>

</html>
